*{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.full-screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    top: 2%;
    left: 2%;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    transition: 0.5s;
}

.sidebar-menu {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f323a;
    border-radius: 40px;
    padding: 10px;
}

.sidebar-menu label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu p {
    margin-right: 15px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.fa-bars{
    font-size: 20px;
    color: #fef6aa;
}

.menu > .sidebar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: #2f323a;
    transition: 0.5s;
}

.sidebar-links{
    position: absolute;
    top: 40%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    transition: 0.5s;
    animation: ease-in;
}

.sidebar-links a{
    text-decoration: none;
    color: #fff;
}

.sidebar-links{
    font-size: 20px;
}

.sidebar-links a span {
    margin-left: 20px;
}

.menu > .sidebar-content img{
    width: 100px;
    height: 100px;
}

.sidebar-logo {
    position: absolute;
    top: 15%;
    border: 1px solid #fef6aa;
    border-radius: 40px;
    padding: 20px;
}
.sidebar-logo p{
    color: #fef6aa;
    text-transform: capitalize;
}

#hamburger {
    display: none;
}

#menu{
    width: 0;
}

#sidebar-logo{
    display: none;
}

#sidebar-links{
    display: none;
}

.columns{ 
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left{
    display: grid;
    grid-template-columns: 2fr 3.5fr;
}

.white-bg img{
    height: 100%;
    width: 100%;
}

.office-bg img{
    width: 100%;
    height: 100%;
}

.building-bg{
    height: 80%;
}

.building-bg img{
    width: 100%;
    height: 100%;
}

.down-transition{
    background-color: #fef6aa;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #2f323a;
    transition: 0.7s;
}

.down-transition a{
    text-decoration: none;
    color: #2f323a;
    transition: 0.7s;
}

.down-transition p{
    margin-left: 20px;
}

.down-transition:hover a {
    transform: translateY(-10px);
}

.down-transition:hover  .right-main-text{
    visibility: visible;
}

.left-main-text{
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-main-text p{
    font-size: 45px;
    color: #fef6aa;
    font-weight: 600;
}

.right-main-text{
    position: absolute;
    top: 50%;
    /* right: 10%; */
    transform: translate(0, -50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform-origin: left;
    visibility: hidden;
}

.right-main-text p{
    font-size: 20px;
    color: #fef6aa;
    font-weight: 600;
}